<!DOCTYPE html>
<html>
	<head>
		<title>Xalytic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "stylesheets/bootstrap.min.css" rel = "stylesheet">
		<link href = "stylesheets/font-awesome.min.css" rel = "stylesheet">

		
	</head>
	<body>
	
		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				
				<a href = "#" class = "navbar-brand"><font face="trebuchet MS" size="5" color="white"><span class="fa fa-codepen"></span>Xalytic</font></a>
				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				
				<div class = "collapse navbar-collapse navHeaderCollapse">
					
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
						
					</ul>
				
				</div>
			</div>
		</div>
		
		<div class="tab-content">
			<div class="tab-pane fade in active" id="home">

				<div class="container">
						
					<div class="row">
						
						<div class="col-sm-6 col-md-6"  >
							<center>
								<a href="/getTopicTwitter">
								  <img src="images/twitter-icon.png" alt="Twitter" width="300" height="300">
								</a> 
							</center>
						</div>
						
						<div class="col-sm-6 col-md-6" >
							<center>
								<a href="/getTopicFile">
								  <img src="images/folder-blue.png" alt="File" width="300" height="300">
								</a>  
							</center>
						</div>
						
						<div class="col-sm-12 col-md-12" >
							<center>
								<font face="trebuchet MS" size="10" color="Black"><span class="fa fa-codepen"></span>Xalytic</font>
							</center>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
		
		<div class = "navbar navbar-inverse navbar-fixed-bottom">
		
			<div class = "container-fluid">
				<p class = "navbar-text pull-left">&copy;This work is licensed under
					<a href="http://www.tcs.com/Pages/default.aspx">Tata Consultancy Services </a></p>
					
							
			</div>
		
		</div>


	</body>
	
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src = "javascripts/bootstrap.js"></script>
	

</html>