						<div id="TopicPanel" class="row hidden">
						
							<div class="col-lg-12 col-md-12 col-sm-12 ">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Trend</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div class="panel-body">
										<div id="containerFrontPage" ></div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">
											<button type="button" id="topic-1" value="1" class="btn btn-default btn-md topicSelect" >Topic-1</button>
										</h3>
										
										<span class="pull-right panel-collapsed clickable "><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-1" class="panel-body" style="overflow:auto">
										
										
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											<button type="button" id="topic-2" value="2" class="btn btn-default btn-md topicSelect" >Topic-2</button>
											
										</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-2" class="panel-body" style="overflow:auto">
										
									</div>
								
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-3</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-3" class="panel-body">
										
										
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-4</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-4" class="panel-body">
										
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-5</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-5" class="panel-body">
										 
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-6</h3>
										<span class="pull-right clickable "><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-6" class="panel-body">
										 
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-7</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-7" class="panel-body">
										 
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-8</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-8" class="panel-body">
										 
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-9</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-9" class="panel-body">
										 
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="panel panel-success">
									<div class="panel-heading ">
										<h3 class="panel-title">
											Topic-10</h3>
										<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
									</div>
									<div id="Topic-10" class="panel-body">
										 
									</div>
								</div>
							</div>

						</div>
						
						
						
						<div id="GraphPanel" class="row hidden">
							<!--<button type="button" class="btn btn-default btn-md back" >Back</button> -->
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="panel panel-success">
									<div id="PanelHeading" class="panel-heading">
										
										
										
									</div>
									<div id="T" class="panel-body" style="overflow:auto">
										
										
									</div>
								</div>
							</div>
						
							<div id="Graph" class="col-lg-8 col-md-8 col-sm-8 ">
							<div class="panel panel-success">
								<div class="panel-heading ">
									<h3 class="panel-title">
										Daily Trend</h3>
									<span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
								</div>
								<div class="panel-body" style="overflow:auto" >
									<div id="container" ></div>
								</div>
							</div>
							</div>
						
						
						</div>